<footer class="footer-home">
  <div class="footer-container">
    <p class="footer-end">©2024 | All Rights Reserved |<span> Developed with</span></p>
    <svg class="footer-icon" width="12" height="12">
      <use href="../src/images/icons.svg#icon-heart"></use>
    </svg>
    <p class="footer-students">by <span id="openModal">GoIT Students</span></p>
  </div>
</footer>

<!-- Okno modalne -->
<div id="studentModal" class="windows-modal" style="display: none">
  <!-- "karty" uczestników projektu -->
  <div class="modal-content">
    <div class="student-card" id="student1">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="ROMAN PISARSKI" class="student-photo">
      <h2>ROMAN PISARSKI</h2>
      <p class="students-role">TEAM LEADER</p>
      <p class="students-item">Roman played the role of Leader. </br>
        It was his job to check all incoming branches </br> 
        from other students to see if all </br>
        the code was correct. </br>
        And also to support everyone in their </br>
        endeavors, to suggest how best to </br>
        write code so that this site turns out </br>
        exactly like this</p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
    <div class="student-card" id="student2">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="VITALIIA TROIAN" class="student-photo">
      <h2>VITALIIA TROIAN</h2>
      <p class="students-role">SCRUM MASTER</p>
      <p class="students-item">Vitaliia acted as a Scrum Master. </br>
        Her responsibilities included writing </br>
        assignments in Trello, </br>
        coming up with a presentation script, </br>
        creating an HTML document, </br>
        and lining the entire document to </br>
        mobile, tablet and desktop</p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
    <div class="student-card" id="student3">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="KAROL KOTAŃSKI" class="student-photo">
      <h2>KAROL KOTAŃSKI</h2>
      <p class="students-role">DEVELOPER</p>
      <p class="students-item">Karol was more responsible for JS. </br>
         Its task was to highlight </br>
         popular films on the main page, </br>
         pagination, and so that when </br>
         the user clicked on each page, </br>
         a certain number of films were highlighted</p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
    <div class="student-card" id="student4">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="PAULINA JABŁOŃSKA" class="student-photo">
      <h2>PAULINA JABŁOŃSKA</h2>
      <p class="students-role">DEVELOPER</p>
      <p class="students-item">Paulina created the full header "My library" </br>
        and styled it. And also </br>
        did a great job so that when </br>
         you click on "My library" </br>
         the user's library is highlighted, </br>
         and when you click on "Home" </br>
         the home side is highlighted</p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
    <div class="student-card" id="student5">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="PAWEŁ DOMINIAK" class="student-photo">
      <h2>PAWEŁ DOMINIAK</h2>
      <p class="students-role">DEVELOPER</p>
      <p class="students-item">Creator of the movie card widget template.</br>
        Responsible for the "My Library" page container,</br>
        designing the layout template, styling the footer,</br>
        and developing the modal showcasing project participants</p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
    <div class="student-card" id="student6">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="RAFAŁ RUSZKOWSKI" class="student-photo">
      <h2>RAFAŁ RUSZKOWSKI</h2>
      <p class="students-role">DEVELOPER</p>
      <p class="students-item">Rafał was responsible for </br>
        the window modal of one film. </br>
        He completely created it, styled it. </br>
        When you click on a movie, </br>
        information about this movie is highlighted, </br>
        when you click ESC or outside the window, </br>
        everything is closed modally  </p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
    <div class="student-card" id="student6">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="SEBASTIAN MIOZGA" class="student-photo">
      <h2>SEBASTIAN MIOZGA</h2>
      <p class="students-role">DEVELOPER</p>
      <p class="students-item">Sebastian fully engaged in local-storage. </br>
         Clicking on the "Add to Watched" </br>
         button adds the video to the current user's </br>
         watched videos, and clicking </br>
         the "Add to queue" button adds </br>
         the video to the current user's queue </p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
    <div class="student-card" id="student6">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="SZYMON HOM" class="student-photo">
      <h2>SZYMON HOM</h2>
      <p class="students-role">DEVELOPER</p>
      <p class="students-item">Szymon onnected the loader. </br>
        And also took up the styling </br>
        of the footer of the page </br>
        of the main "Home" </br>
        and page "My Library"</p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
    <div class="student-card" id="student6">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="TOMASZ BLOCK" class="student-photo">
      <h2>TOMASZ BLOCK</h2>
      <p class="students-role">DEVELOPER</p>
      <p class="students-item">Tomasz stylized the window </br>
        modal of one film</p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
    <div class="student-card" id="student6">
      <span class="close">&times;</span>
      <img src="../src/images/student1.jpg" alt="WERONIKA NIEMCZYK" class="student-photo">
      <h2>WERONIKA NIEMCZYK</h2>
      <p class="students-role">DEVELOPER</p>
      <p class="students-item"> Weronika was responsible for finding </br>
        and watching videos by keyword. </br>
        pressing the "Watched" button displays </br>
        the videos watched by the user,and </br>
        pressing the "Queue" button displays </br>
        the videos added to the user's queue</p>
      <div class="buttons-container">
        <button class="modal-prev">Previous</button>
        <button class="modal-next">Next</button>
      </div>
    </div>
  </div>
</div>
