<footer class="footer-home">
  <div class="footer-container">
    <p class="footer-end">©2024 | All Rights Reserved |<span> Developed with</span></p>
    <svg class="footer-icon" width="12" height="12">
      <use href="../src/images/icons.svg#icon-heart"></use>
    </svg>
    <p class="footer-students">by <span id="openModal">GoIT Students</span></p>
  </div>
</footer>

<!-- Okno modalne -->
<div id="studentModal" class="windows-modal" style="display: none">
  <!-- Tutaj będą "karty" uczestników projektu -->
  <div class="modal-content">
    <div class="student-card" id="student1">
      <span class="close">&times;</span>
      <h3>Student 1</h3>
      <p>Krótkie informacje o studencie 1.</p>
      <div class="buttons-container">
        <button class="modal-prev">Poprzedni</button>
        <button class="modal-next">Następny</button>
      </div>
    </div>
    <div class="student-card" id="student2">
      <span class="close">&times;</span>
      <h3>Student 2</h3>
      <p>Krótkie informacje o studencie 2.</p>
      <div class="buttons-container">
        <button class="modal-prev">Poprzedni</button>
        <button class="modal-next">Następny</button>
      </div>
    </div>
    <div class="student-card" id="student3">
      <span class="close">&times;</span>
      <h3>Student 3</h3>
      <p>Krótkie informacje o studencie 3.</p>
      <div class="buttons-container">
        <button class="modal-prev">Poprzedni</button>
        <button class="modal-next">Następny</button>
      </div>
    </div>
    <div class="student-card" id="student4">
      <span class="close">&times;</span>
      <h3>Student 4</h3>
      <p>Krótkie informacje o studencie 4.</p>
      <div class="buttons-container">
        <button class="modal-prev">Poprzedni</button>
        <button class="modal-next">Następny</button>
      </div>
    </div>
    <div class="student-card" id="student5">
      <span class="close">&times;</span>
      <h3>Student 5</h3>
      <p>Krótkie informacje o studencie 5.</p>
      <div class="buttons-container">
        <button class="modal-prev">Poprzedni</button>
        <button class="modal-next">Następny</button>
      </div>
    </div>
    <div class="student-card" id="student6">
      <span class="close">&times;</span>
      <h3>Student 6</h3>
      <p>Krótkie informacje o studencie 6.</p>
      <div class="buttons-container">
        <button class="modal-prev">Poprzedni</button>
        <button class="modal-next">Następny</button>
      </div>
    </div>
  </div>
</div>
