<header class="header-library">
    <div class="header-library-container">
        <a href="index.html" class="header-library-logo">
              <svg width="24" height="24" class="header-library-film"> 
            <use href="./images/icons.svg#icon-film"></use>
            </svg>
            <p class="header-library-filmoteka">Filmoteka</p>
             </a> 
            <ul class="header-library-menu">
                <li class="header-library-list">
                    <a href="./index.html" class="header-library-list-link">Home</a>
                </li>
                <li class="header-library-list" >
                    <a href="./library.html" class="header-library-list-link">My library</a>
                </li>
            </ul>
    </div>

        <div class="header-library-button-container">
            <ul class="header-library-button-menu">
                <li class="header-library-button">
                    <button type="button" class="header-library-button-watched">WATCHED</button>
                    </li>
                <li class="header-library-button">
                    <button type="button" class="header-library-button-queue">QUEUE</button>
                    </li>
            </ul>
        </div>
</header>