<div id="studentModal" class="windows-modal" style="display: none">
  <div class="modal-content">
    <!-- -------- ROMAN PISARSKI -------- -->
    <div class="student-card" id="student1">
      <span class="btn-close">&times;</span>
      <img
        class="student-photo"
        src="/src/images/student1.jpg"
        alt="ROMAN PISARSKI"
        class="student-photo"
      />
      <div class="student-info">
        <h2 class="student-name">ROMAN PISARSKI</h2>
        <p class="student-role">TEAM LEADER</p>
        <p class="student-item">
          Roman played the role of Leader. It was his job to check all incoming branches from other
          students to see if all the code was correct. And also to support everyone in their
          endeavors, to suggest how best to write code so that this site turns out exactly like this
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
    <!-- -------- VITALIIA TROIAN -------- -->
    <div class="student-card" id="student2">
      <span class="btn-close">&times;</span>
      <img src="/src/images/vitaliia.jpg" alt="VITALIIA TROIAN" class="student-photo" />
      <div class="student-info">
        <h2 class="student-name">VITALIIA TROIAN</h2>
        <p class="student-role">SCRUM MASTER</p>
        <p class="student-item">
          Vitaliia acted as a Scrum Master. Her responsibilities included writing assignments in
          Trello, coming up with a presentation script, creating an HTML document, and lining the
          entire document to mobile, tablet and desktop
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
    <!-- -------- KAROL KOTAŃSKI -------- -->
    <div class="student-card" id="student3">
      <span class="btn-close">&times;</span>
      <img src="/src/images/karol.jpg" alt="KAROL KOTAŃSKI" class="student-photo" />
      <div class="student-info">
        <h2 class="student-name">KAROL KOTAŃSKI</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Karol was more responsible for JS. Its task was to highlight popular films on the main
          page, pagination, and so that when the user clicked on each page, a certain number of
          films were highlighted
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
    <!-- -------- PAULINA JABŁOŃSKA -------- -->
    <div class="student-card" id="student4">
      <span class="btn-close">&times;</span>
      <img src="/src/images/student1.jpg" alt="PAULINA JABŁOŃSKA" class="student-photo" />
      <div class="student-info">
        <h2 class="student-name">PAULINA JABŁOŃSKA</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Paulina created the full header "My library" and styled it. And also did a great job so
          that when you click on "My library" the user's library is highlighted, and when you click
          on "Home" the home side is highlighted
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
    <!-- -------- PAWEŁ DOMINIAK -------- -->
    <div class="student-card" id="student5">
      <span class="btn-close">&times;</span>
      <img src="/src/images/paweł.jpg" alt="PAWEŁ DOMINIAK" class="student-photo" />
      <div class="student-info">
        <h2 class="student-name">PAWEŁ DOMINIAK</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Creator of the movie card widget template. Responsible for the "My Library" page
          container, designing the layout template, styling the footer, and developing the modal
          showcasing project participants
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
    <!-- -------- RAFAŁ RUSZKOWSKI -------- -->
    <div class="student-card" id="student6">
      <span class="btn-close">&times;</span>
      <img src="/src/images/rafał.jpg" alt="RAFAŁ RUSZKOWSKI" class="student-photo" />
      <div class="student-info">
        <h2 class="student-name">RAFAŁ RUSZKOWSKI</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Rafał was responsible for the window modal of one film. He completely created it, styled
          it. When you click on a movie, information about this movie is highlighted, when you click
          ESC or outside the window, everything is closed modally
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
    <!-- -------- SEBASTIAN MIOZGA -------- -->
    <div class="student-card" id="student7">
      <span class="btn-close">&times;</span>
      <img src="/src/images/student1.jpg" alt="SEBASTIAN MIOZGA" class="student-photo" />
      <div class="student-info">
        <h2 class="student-name">SEBASTIAN MIOZGA</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Sebastian fully engaged in local-storage. Clicking on the "Add to Watched" button adds the
          video to the current user's watched videos, and clicking the "Add to queue" button adds
          the video to the current user's queue
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
    <!-- -------- SZYMON HOM -------- -->
    <div class="student-card" id="student8">
      <span class="btn-close">&times;</span>
      <img src="/src/images/student1.jpg" alt="SZYMON HOM" class="student-photo" />
      <div class="student-info">
        <h2 class="student-name">SZYMON HOM</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Szymon onnected the loader. And also took up the styling of the footer of the page of the
          main "Home" and page "My Library"
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
    <!-- -------- TOMASZ BLOCK -------- -->
    <div class="student-card" id="student9">
      <span class="btn-close">&times;</span>
      <img src="/src/images/tomasz.jpg" alt="TOMASZ BLOCK" class="student-photo" />
      <div class="student-info">
        <h2 class="student-name">TOMASZ BLOCK</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">Tomasz stylized the window modal of one film</p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
    <!-- -------- WERONIKA NIEMCZYK -------- -->
    <div class="student-card" id="student10">
      <span class="btn-close">&times;</span>
      <img src="/src/images/weronika.jpg" alt="WERONIKA NIEMCZYK" class="student-photo" />
      <div class="student-info">
        <h2 class="student-name">WERONIKA NIEMCZYK</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Weronika was responsible for finding and watching videos by keyword. pressing the
          "Watched" button displays the videos watched by the user,and pressing the "Queue" button
          displays the videos added to the user's queue
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard">Previous</button>
        <button class="modal-next button-standard">Next</button>
      </div>
    </div>
  </div>
</div>
