<div id="studentModal" class="windows-modal" style="display: none">
  <div class="modal-content">
    <!-- -------- ROMAN PISARSKI -------- -->
    <div class="student-card" id="student1">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/student-sample.jpg" alt="SZYMON HOM" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-sample-large.jpg"
        alt="ROMAN PISARSKI"
        srcset="
          /src/images/student-sample-small.jpg   480w,
          /src/images/student-sample-medium.jpg  768w,
          /src/images/student-sample-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
         (max-width: 768px) 768px,
         1024px"
      />
      <div class="student-info">
        <h2 class="student-name">ROMAN PISARSKI</h2>
        <p class="student-role">TEAM LEADER</p>
        <p class="student-item">
          Roman assumed the vital role of Team Leader, overseeing the integration of contributions from fellow students. His responsibilities included:</br></br>
          <strong>Code Review:</strong> Meticulously reviewed all incoming branches for accuracy and adherence to project standards.</br></br>
          <strong>Support and Guidance:</strong> Provided unwavering support and insightful guidance on best coding practices, ensuring the website's development aligned with the envisioned outcome.
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
    <!-- -------- VITALIIA TROIAN -------- -->
    <div class="student-card" id="student2">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/vitaliia.jpg" alt="VITALIIA TROIAN" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-vitaliia-large.jpg"
        alt="VITALIIA TROIAN"
        srcset="
          /src/images/student-vitaliia-small.jpg   480w,
          /src/images/student-vitaliia-medium.jpg  768w,
          /src/images/student-vitaliia-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
         (max-width: 768px) 768px,
         1024px"
      />
      <div class="student-info">
        <h2 class="student-name">VITALIIA TROIAN</h2>
        <p class="student-role">SCRUM MASTER</p>
        <p class="student-item">
          Vitaliia took on the role of Scrum Master, orchestrating the project's workflow and communication. Her contributions encompassed:</br></br>
          <strong>Task Management:</strong> Organized and assigned tasks using Trello, ensuring efficient progress tracking.</br></br>
          <strong>Presentation Script:</strong> Devised the script for the project presentation, facilitating a coherent narrative of the project's development.</br></br>
          <strong>HTML Document Creation:</strong> Developed an HTML document, laying the foundation for the website's structure.</br></br>
          <strong>Responsive Design:</strong> Implemented responsive design principles, ensuring the website's compatibility across mobile, tablet, and desktop devices.
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
    <!-- -------- KAROL KOTAŃSKI -------- -->
    <div class="student-card" id="student3">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/karol.jpg" alt="KAROL KOTAŃSKI" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-karol.jpg"
        alt="KAROL KOTAŃSKI"
        srcset="
          /src/images/student-karol-small.jpg   480w,
          /src/images/student-karol-medium.jpg  768w,
          /src/images/student-karol-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
         (max-width: 768px) 768px,
         1024px"
      />
      <div class="student-info">
        <h2 class="student-name">KAROL KOTAŃSKI</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Karol specialized in JavaScript development, focusing on enhancing user interaction and content display on the website. His key responsibilities included:</br></br>
          <strong>Highlighting Popular Films:</strong> Implemented functionality to feature popular films prominently on the homepage.</br></br>
          <strong>Pagination:</strong> Developed a pagination system, enabling users to navigate through the film listings efficiently.</br></br>
          <strong>Dynamic Content Loading:</strong> Ensured that clicking on pagination links dynamically loads a specific number of films, improving the user experience.
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
    <!-- -------- PAULINA JABŁOŃSKA -------- -->
    <div class="student-card" id="student4">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/paulina.jpg" alt="PAULINA JABŁOŃSKA" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-paulina-large.jpg"
        alt="PAULINA JABŁOŃSKA"
        srcset="
          /src/images/student-paulina-small.jpg   480w,
          /src/images/student-paulina-medium.jpg  768w,
          /src/images/student-paulina-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
         (max-width: 768px) 768px,
         1024px"
      />
      <div class="student-info">
        <h2 class="student-name">PAULINA JABŁOŃSKA</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Paulina's contributions were pivotal in designing the user interface, with a particular focus on the "My Library" section. Her tasks included:</br></br>
          <strong>Header Creation for "My Library":</strong> Designed and styled the complete header for the "My Library" page, enhancing its visual appeal and functionality.</br></br>
          <strong>Interactive Navigation:</strong> Implemented a feature that highlights the "My Library" section when selected, and similarly, the "Home" section when it is chosen, improving navigation clarity and user experience.
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
    <!-- -------- PAWEŁ DOMINIAK -------- -->
    <div class="student-card" id="student5">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/student-pawel.jpg" alt="PAWEŁ DOMINIAK" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-pawel-large.jpg"
        alt="PAWEŁ DOMINIAK"
        srcset="
          /src/images/student-pawel-small.jpg   480w,
          /src/images/student-pawel-medium.jpg  768w,
          /src/images/student-pawel-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
             (max-width: 768px) 768px,
             1024px"
      />
      <div class="student-info">
        <h2 class="student-name">PAWEŁ DOMINIAK</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">     
          Paweł's' work focused on enhancing both the design and functionality aspects of the website. His key contributions included:</br></br>
          <strong>Footer:</strong> Crafted using HTML and SCSS, balancing aesthetics and functionality.</br></br>
          <strong>Student Modal:</strong> Developed with JavaScript and SCSS to showcase project participants.</br></br>
          <strong>Movie Cards Layout on Home Page:</strong> Designed using SCSS for engaging content presentation.</br></br>
          <strong>Movie Cards Layout on 'My Library' Page:</strong> Created with SCSS for effective display of saved movies.</br></br>
          <strong>Movie Card Widget Template:</strong> A dynamic template made with HTML, SCSS, and JavaScript, featuring 'Watched' and 'Add to Queue' functionalities.</br></br>
          <strong>'Watched' and 'Add to Queue' Features:</strong> Enhanced with JavaScript for optimized user interaction and efficiency.</br></br>
          <strong>Scrollbar Styling:</strong> Customized with SCSS to complement the website's design theme.</br></br>
          <strong>Parcel Error Handling:</strong> Provided assistance in resolving Parcel bundler errors.
        </p>
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
    <!-- -------- RAFAŁ RUSZKOWSKI -------- -->
    <div class="student-card" id="student6">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/rafal.jpg" alt="RAFAŁ RUSZKOWSKI" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-rafal-large.jpg"
        alt="RAFAŁ RUSZKOWSKI"
        srcset="
          /src/images/student-rafal-small.jpg   480w,
          /src/images/student-rafal-medium.jpg  768w,
          /src/images/student-rafal-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
         (max-width: 768px) 768px,
         1024px"
      />
      <div class="student-info">
        <h2 class="student-name">RAFAŁ RUSZKOWSKI</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Rafał took charge of the modal window feature for individual films, showcasing his proficiency in both design and functionality. His work encompassed:</br></br>
          <strong>Modal Window Creation:</strong> Developed and styled the modal window that displays detailed information about a selected movie, enhancing the user's interaction with content.</br></br>
          <strong>Interactive Modal Behavior:</strong> Implemented intuitive functionality, enabling the modal to be closed by pressing the ESC key or clicking outside the window, thereby improving the user experience.
        </p>        
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
    <!-- -------- SEBASTIAN MIOZGA -------- -->
    <div class="student-card" id="student7">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/student-sample.jpg" alt="SZYMON HOM" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-sample-large.jpg"
        alt="SZYMON HOM"
        srcset="
          /src/images/student-sample-small.jpg   480w,
          /src/images/student-sample-medium.jpg  768w,
          /src/images/student-sample-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
         (max-width: 768px) 768px,
         1024px"
      />
      <div class="student-info">
        <h2 class="student-name">SEBASTIAN MIOZGA</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Sebastian focused his efforts on integrating local storage functionality, enhancing the website's user personalization features. His contributions included:</br></br>
          <strong>Watched Videos Feature:</strong> Implemented the "Add to Watched" button, enabling users to save videos to their watched list for easy access.</br></br>
          <strong>Queue Feature:</strong> Developed the "Add to Queue" button, allowing users to add videos to their personal queue, streamlining their viewing experience.
        </p>
        
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
    <!-- -------- SZYMON HOM -------- -->
    <div class="student-card" id="student8">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/student-sample.jpg" alt="SZYMON HOM" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-sample-large.jpg"
        alt="SZYMON HOM"
        srcset="
          /src/images/student-sample-small.jpg   480w,
          /src/images/student-sample-medium.jpg  768w,
          /src/images/student-sample-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
         (max-width: 768px) 768px,
         1024px"
      />
      <div class="student-info">
        <h2 class="student-name">SZYMON HOM</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Szymon was instrumental in enhancing the website's user interface, focusing on loading dynamics and cohesive styling. His tasks included:</br></br>
          <strong>Loader Integration:</strong> Implemented a loader to improve the user experience during page load times, ensuring a smooth transition and interaction.</br></br>
          <strong>Footer Styling:</strong> Took charge of styling the footer for both the "Home" and "My Library" pages, achieving a consistent and appealing visual theme across the website.
        </p>        
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
    <!-- -------- TOMASZ BLOCK -------- -->
    <div class="student-card" id="student9">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/tomasz.jpg" alt="TOMASZ BLOCK" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-tomasz-large.jpg"
        alt="TOMASZ BLOCK"
        srcset="
          /src/images/student-tomasz-small.jpg   480w,
          /src/images/student-tomasz-medium.jpg  768w,
          /src/images/student-tomasz-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
             (max-width: 768px) 768px,
             1024px"
      />
      <div class="student-info">
        <h2 class="student-name">TOMASZ BLOCK</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Tomasz dedicated his expertise to the aesthetic aspect of the website, specifically:</br></br>
          <strong>Styling the Film Modal Window:</strong> He refined the modal window for individual films, focusing on its visual presentation to enhance the user's viewing experience.
        </p>
        
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
    <!-- -------- WERONIKA NIEMCZYK -------- -->
    <div class="student-card" id="student10">
      <span class="btn-close">&times;</span>
      <!-- <img src="/src/images/weronika.jpg" alt="WERONIKA NIEMCZYK" class="student-photo" /> -->
      <img
        class="student-photo"
        src="/src/images/student-weronika-large.jpg"
        alt="WERONIKA NIEMCZYK"
        srcset="
          /src/images/student-weronika-small.jpg   480w,
          /src/images/student-weronika-medium.jpg  768w,
          /src/images/student-weronika-large.jpg  1024w
        "
        sizes="(max-width: 480px) 480px,
         (max-width: 768px) 768px,
         1024px"
      />
      <div class="student-info">
        <h2 class="student-name">WERONIKA NIEMCZYK</h2>
        <p class="student-role">DEVELOPER</p>
        <p class="student-item">
          Weronika spearheaded the implementation of video search functionality based on keywords, along with managing user interaction with watched and queued videos. Her responsibilities included:</br></br>
          <strong>Keyword Video Search:</strong> Developed the feature allowing users to find and watch videos based on keywords, enhancing content discovery.</br></br>
          <strong>Watched Videos Display:</strong> Implemented the "Watched" button functionality to showcase videos previously watched by the user.</br></br>
          <strong>Queue Management:</strong> Implemented the "Queue" button functionality to display videos added to the user's queue, optimizing their viewing preferences.
        </p>        
      </div>
      <div class="buttons-container">
        <button class="modal-prev button-standard" type="button">Previous</button>
        <button class="modal-next button-standard" type="button">Next</button>
      </div>
    </div>
  </div>
</div>
