<section>
  <div class="container">
    <ul class="movie__list"></ul>
  </div>
  <!-- <div class="paginator" id="paginator">
    <ul class="paginator-ul">
       <li class="btn prev">
        <span><i class="fas fa-angle-left"></i>Prev</span>
      </li>
      <li class="numb active"><span>1</span></li>
      <li class="dots"><span>...</span></li>
      <li class="numb"><span>2</span></li>
      <li class="numb"><span>3</span></li>
      <li class="dots"><span>...</span></li>
      <li class="numb"><span>4</span></li>
      <li class="btn next">
        <span><i class="fas fa-angle-right"></i>next</span>
      </li>
    </ul>
  </div>-->
  <div class="pagination disable">
    <button class="page disable" id="prev">Prev</button>
    <div class="current" id="current">1</div>
    <button class="page disable" id="next">Next</button>
  </div>
  <div class="pagination_for_query disable">
    <button class="page disable" id="prevQuery">Prev</button>
    <div class="current" id="currentQuery">1</div>
    <button class="page disable" id="nextQuery">Next</button>
  </div>
</section>
