<section>
  <div class="container">
    <ul class="movie__list"></ul>
  </div>

  <div class="paginatorPopular" id="paginatorPolular">
    <button class="page disable" id="prevPopular">Prev</button>
    <ul class="paginator-ul"></ul>
    <button class="page disable" id="nextPopular">Next</button>
  </div>
  <div class="paginatorQuery" id="paginatorQuery">
    <button class="page disable" id="prevQuery">Prev</button>
    <ul class="paginator-ulq"></ul>
    <button class="page disable" id="nextQuery">Next</button>
  </div>
</section>
<!-- <div class="pagination disable">
    <button class="page disable" id="prev">Prev</button>
    <div class="current" id="current">1</div>
    <button class="page disable" id="next">Next</button>
  </div> -->
<!-- <div class="pagination_for_query disable">
    <button class="page disable" id="prevQuery">Prev</button>
    <div class="current" id="currentQuery">1</div>
    <button class="page disable" id="nextQuery">Next</button>
  </div> -->
