<section>
  <div class="container">
    <ul class="movie__list"></ul>
  </div>
  <!-- <div class="pagination disable">
    <button class="page disable" id="prev">Prev</button>
    <div class="current" id="current">1</div>
    <button class="page disable" id="next">Next</button>
  </div> -->
  <div class="pagination_for_query disable">
    <button class="page disable" id="prevQuery">Prev</button>
    <div class="current" id="currentQuery">1</div>
    <button class="page disable" id="nextQuery">Next</button>
  </div>

  <div class="paginatorPopular" id="paginator">
    <button class="page disable" id="prev">Prev</button>
    <ul class="paginator-ul">
      <li class="numb active"><span>1</span></li>
      <li class="numb"><span>4</span></li>
    </ul>
    <button class="page disable" id="next">Next</button>
  </div>
</section>
