.windows-modal {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;

  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 75%;
    max-width: 800px;
    position: relative; /* Pozycja relatywna */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 60px; /* Dodatkowa przestrzeń na przyciski */
    overflow: auto; /* Umożliwia przewijanie, jeśli treść jest zbyt długa */
  }
}

.btn-close {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: #ff6b01;
  }
}

.student-photo {
  height: 400px;
  object-fit: cover;
}

.student-info {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.5rem;
}

.student-card {
  display: flex;
  text-align: center;
  padding: 20px;
}

.student-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 5px;
}

.student-role {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ff6b01;
  margin-bottom: 1.5rem;
}

.student-item {
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  text-align: justify;
}

.buttons-container {
  display: flex;
  justify-content: center;
  position: absolute; /* Absolutne pozycjonowanie */
  bottom: 20px; /* Odległość od dolnej krawędzi */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

button {
  width: 136px;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  background-color: #ff6b01;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ff4901;
    transform: scale(0.99);
    box-shadow: 0 0 50px rgba(200, 200, 200, 0.8);
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 80%;
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 80%;
    max-width: 600px;
  }

  .btn-close {
    top: 10px;
    right: 10px;
  }

  .student-card {
    flex-direction: column;
    height: 90vh;
  }

  .student-photo {
    margin-top: 10px;
    height: 300px;
    max-height: 45vh;
    padding: 0 0.7rem;
  }

  .student-info {
    margin-top: 5px;
    padding: 0 0.5rem;
  }

  .student-name {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .student-role {
    font-size: 1.2rem;
  }

  .student-item {
    font-size: 1rem;
  }
}
