.windows-modal {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
overflow: auto;
}
.modal-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 75%;
  max-width: 800px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 60px;
  overflow: auto;
  height: 100%;
  
}
.btn-close {
  position: absolute;
  top: 14px;
  right: 18px;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    color: #ff6b01;
  }
}

.student-photo {
  height: 400px;
  width: 260px;
  object-fit: cover;
}

.student-info {
  width: 100%;
  align-items: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.5rem;
}

.student-card {
  display: flex;
  text-align: center;
  padding: 20px;
}

.student-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 5px;
  margin: 0 auto;
}

.student-role {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ff6b01;
  margin-bottom: 1.5rem;
  margin: 0 auto;
}

.student-item {
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  text-align: justify;
}

.buttons-container {
  display: flex;
  justify-content: center;
  position: absolute; /* Absolutne pozycjonowanie */
  bottom: 2px; /* Odległość od dolnej krawędzi */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: auto;
 
}
.buttons-container {
  overflow: auto;
  padding-bottom: 10px;
}
.modal-prev {
  width: 136px;
  padding: 10px 15px;
  margin: 0 10px;
}

.modal-next {
  width: 136px;
  padding: 10px 15px;
  margin: 0 10px;
}
@media screen and (max-width: 767px) {
  .windows-modal .modal-content {
      width: 90%;
      max-width: 700px;
    }
  
    .student-item {
      text-align: justify;
    }
  
    .student-info {
      align-items: end;
    }
  
    .student-name {
      font-size: 1.7rem;
    }
  
    .student-role {
      font-size: 1.3rem;
    }
}
@media screen and (max-width: 480px) {
  .windows-modal .modal-content {
    width: 90%;
    max-width: 450px;
    height: 100%;
    overflow: auto;
    padding-bottom: 0;
  }

  .btn-close {
    top: 8px;
    right: 12px;
  }

  .student-card {
    flex-direction: column;
    align-items: center;
    height: 90vh;
  }

  .student-photo {
    width: 235px;
    margin-top: 15px;
    height: 300px;
    max-height: 45vh;
    padding: 0 0.7rem;
  }

  .student-item {
    text-align: center;
  }

  .student-info {
    margin-top: 5px;
    padding: 0 0.5rem;
    align-items: center;
  }

  .student-name {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .student-role {
    font-size: 1.2rem;
  }

  .student-item {
    font-size: 1rem;
  }
}