/* Ustawienia dla całej sekcji */
.paginatorPopular,
.paginatorQuery {
  display: flex;
}

.paginatorPopular ul,
.paginatorQuery ul {
  display: flex;
  gap: 15px;
}

.paginatorPopular ul li,
.paginatorQuery ul li {
  cursor: pointer;
}

.paginatorPopular ul li.btn,
.paginatorQuery ul li.btn {
  background-color: rgba(247, 247, 247, 1);
  // color: red;
}

.paginatorPopular ul li.active,
.paginatorQuery ul li.active {
  background-color: #ff6b08;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stylizacja kontenera dla filmów */
.container {
  display: flex;
  flex-flow: column wrap;
}

/* Stylizacja listy filmów */
.movie__list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Stylizacja całej karty filmu */
.card {
  box-shadow: 0 0 50px rgba(200, 200, 200, 0.3);
  transition: transform 0.25s linear;
  &:hover {
    transform: scale(0.99);
    box-shadow: 0 0 50px rgba(200, 200, 200, 0.9);
  }
}

/* Stylizacja obrazka w karcie filmu */
.movie-card img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Stylizacja opisu filmu */
.info {
  padding: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
}

/* Stylizacja paginacji */
.pagination,
.pagination_for_query {
  margin: 60px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.page {
  padding: 10px;
  border: none;
  background-color: #f7f7f7;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.current {
  padding: 10px;
}

.info p {
  line-height: 24px;
  color: #000000;
}

.info .details p {
  line-height: 24px;
  color: #ff6b08;
}

.info-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    white-space: wrap;
  }
  &:active {
    white-space: wrap;
  }
}

/* Stylizacja dla różnych urządzeń */

@media screen and (min-width: 1280px) {
  .movie__list {
    gap: 32px 16px;
    margin: 60px 0 0 0;
    padding: 0 32px;
  }

  .movie-card {
    height: 634px;
    margin-bottom: 32px;
    width: calc(33.3333% - 10.6667px);
  }

  .movie-card img {
    height: 574px;
  }

  .info {
    padding-top: 12px;
  }

  .info p {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Dla ekranów o szerokości od 768px do 1279px */

  .movie__list {
    margin: 60px 0 0 0;
    gap: 32px;
    justify-content: center;
  }

  .movie-card img {
    height: 495px;
  }

  .info {
    padding: 10px 0 10px 5px;
  }

  .info p {
    font-size: 12px;
  }

  .details {
    margin: -5px 0 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* Dla ekranów o szerokości od 320px do 767px */
  .movie__list {
    margin: 20px 0 0 0;
    row-gap: 20px;
    justify-content: center;
  }
  .movie-card {
    margin-bottom: 20px;
    width: 280px;
  }

  .card {
    max-height: 465px;
  }

  .movie-card img {
    height: 398px;
  }

  .info {
    padding: 0 0 10px 5px;
  }

  .info p {
    font-size: 12px;
  }

  .pagination {
    width: 100%;
    justify-content: center;
  }

  .details {
    margin: -5px 0 0 0;
  }
}
